/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-background: #cef2e0;
  --color-main: rgb(37, 223, 192);
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-blod: 700;
  --weight-semi-blod: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-blod);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-blod);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Nav */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: var(--color-white);
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
}

#navbar.navbar--dark {
  background: center/cover no-repeat url("img/background.png");
  padding: 8px;
}

.navbar__menu {
  display: flex;
  font-weight: var(--weight-semi-blod);
  font-size: var(--font-regular);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-main);
}

.navbar__logo img {
  border-radius: 50%;
}

.navbar__toggle-btn {
  position: absolute;
  top: 32px;
  right: 32px;
  font-size: var(--font-medium);
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: center/cover no-repeat url("/img/background2.png");
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-blod);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Section */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
#about p {
  color: var(--color-light-grey);
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  padding: 48px;
  margin: auto;
  width: 200px;
  height: 200px;
}

.major__icon:hover img {
  transform: scale(1.2);
}

.major__icon img {
  width: 80px;
  transition: all var(--anmation-duration) ease;
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.education {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.education__title {
  text-align: left;
  color: var(--color-dark-grey);
  margin-bottom: 16px;
}
.education__description {
  margin: 0 16px;
  text-align: left;
}

.education__name,
.education__period {
  color: var(--color-light-grey);
}

.education__name {
  font-size: var(--font-small);
}

.education__period {
  font-size: var(--font-micro);
}

/* Skill */
#skills {
  background: var(--color-yellow);
}

.skills__description {
  color: var(--color-light-grey);
}

.skillset {
  background: var(--color-dark-grey);
  color: var(--color-light-white);
  margin: 20px auto;
  padding: 20px 40px;
  width: 50%;
}

.skillset__title {
  color: var(--color-white);
}

.skill {
  margin-bottom: 32px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.skill__bar {
  width: 100%;
  height: 30px;
  background: var(--color-grey);
  border-radius: var(--size-border-radius);
  overflow: hidden;
}

.skill__value {
  height: 30px;
  background: var(--color-orange);
}

/* Work */
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-micro);
  padding: 8px 40px;
}

.work__categories {
  margin: 40px;
}

.category__btn.active,
.category__btn:hover {
  background: var(--color-background);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background: var(--color-main);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 5px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in-out;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  margin: 2px;
  background: var(--color-light-white);
}

.project img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: all var(--animation-duration) ease-in-out;
}

.project:hover .project__description {
  opacity: 0.7;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-white);
  margin-bottom: 8px;
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 2px;
  background: var(--color-dark-white);
}

/* Contact */
#contact {
  background: var(--color-background);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__rights {
  font-size: var(--font-small);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}
.contact__links i {
  transition: all var(--animation-duration) ease-in-out;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-blue);
}

/* 768px 이하 viewport */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .project {
    flex-grow: 1;
  }
}
